{% extends 'base.html' %}

{% block conteudo %}
     
     {% if anuncios.count %}
      
         {% for anuncio in anuncios %}
                   
            <article class="articlecontent">
            <h3>{{anuncio.titulo}}</h3>total: {{ anuncios|length }}   
            <img src="{{ MEDIA_URL }}{{ anuncio.foto.url }}" alt="{{anuncio.titulo}}" class="alignleft" width="90" height="90"/>
            <p>{{anuncio.descricao}}</p>	
          			
            </article><br /><br /><br />         		
    {% endfor %}
     
       {% else %}
         <p>Ops! Não existem anuncios cadastrados</p>
    {% endif %}
  
{% endblock %}           
