<!doctype html>
<html lang="en">
<head>
	<title>Guia de Bairro Encontre Aqui - Contato</title>
	<meta name="description" content="Guia de Bairro Encontre Aqui">
    <meta name="author" content="Guilherme Souza | GMRio.com">
    <link href="http://dl.dropbox.com/u/23632747/media/assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://dl.dropbox.com/u/23632747/media/css/custom.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="print.css" media="print" />
	<link href="http://dl.dropbox.com/u/23632747/media/css/bootstrap-responsive.css" rel="stylesheet">
	
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	<link rel="shortcut icon" href="/media/img/favicon.ico">
    <link rel="apple-touch-icon" href="http://dl.dropbox.com/u/23632747/media/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://dl.dropbox.com/u/23632747/media/img/appleimgim-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://dl.dropbox.com/u/23632747/media/img/apple-touch-icon-114x114.png">
	
	<style>
		/* standard body */
		body {
		margin: 0 auto;
		width: 960px;
		font: 14px/20px "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
		background: #FFF url(http://dl.dropbox.com/u/23632747/media/img/topo-fundo.png) top center repeat-x}* html
		}
	    
	    header[role="banner"]{
		  	background:#0063A6;
			height: 100px;
			width: 100%;
		   }
		 header hgroup{ 
		 margin: 0;
		 padding-bottom: 10px;
		 width: 100%;
		}
	    
		.logo-top {float: letf;}
		.banner-top {float: right; margin: 0; padding: 0;}
		
		.carousel {padding-top:10px;}
		
		a, a:visited {
		color: #0090D2;
		text-decoration: none;
		}
		.subnav{
		text-transform: uppercase;}
		
		.nav {
			margin-bottom: 0px;
		
		.borda-topo{
			border-top: 3px solid #369BD7;
		}
		
	</style>
</head>
<body>

		<header role="banner">
		<hgroup>

			<a href="/" title="Guia de Bairro"><img class=".logo-top" src="http://dl.dropbox.com/u/23632747/media/img/logo-topo.png" alt="Guiaencontreaqui.com" width="148" height="99"></a>
			<img class="banner-top" src="http://dl.dropbox.com/u/23632747/media/img/propaganda_topo_100_x_900_2.jpg" alt="Guiaencontreaqui.com" width="800" height="129">
		</hgroup><!-- end hgroup -->
       </div>
            </a><!-- wrapper div for Firefox 3.x ref: http://01i.jp/html5bll -->
		
		</header>
		<nav><!-- top nav -->
		<!-- div class="menu" -->
			<div class="subnav subnav-fixed">			
			<ul class="nav nav-pills">

				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Notícias</a>
				<li><a href="http://www.youblisher.com/p/256986-Guia-Encontre-Aqui-Marco/">Guia Digital</a></li>
				<li><a href="http://dl.dropbox.com/u/23632747/media/file/proposta_comercial_guia_encontre_aqui.pdf">Anuncie</a></li>

				<!-- <li><a href="#">Serviços</a>
			    <ul>
   					<li><a href="#">Servio-1</a></li>
   					<li><a href="#">Servio-1</a></li>
   				</ul> 
  				</li> submenu -->
				
				<li class="active"><a href="#">Contato</a></li>
				<!--li></li> <!-- Adicionar form Busca -->
			</ul>
		</div>
	</nav><!-- end of top nav -->
	<div id="content">
				<h1>Contato <small>Fale consco</small></h1>
				<!-- div style="border-top: 2px solid #369BD7;">
					<img src="images/stripedfish.png" alt="fish" class="alignleft" />	<p>Pellentesque ut sapien arcu, egestas mollis massa. Fusce lectus leo, fringilla at aliquet sit amet, volutpat non erat. Aenean molestie nibh vitae turpis venenatis vel accumsan nunc tincidunt. Suspendisse id purus vel felis auctor mattis non ac erat. Pellentesque sodales venenatis condimentum. Aliquam sit amet nibh nisi, ut pulvinar est. Donec hendrerit fringilla ligula, ac rutrum nulla bibendum id. Cras sapien ligula, tincidunt eget euismod nec, ultricies eu augue. Nulla vitae velit sollicitudin magna mattis eleifend. Nam enim justo, vulputate vitae pretium ac, rutrum at turpis. Aenean id magna neque. Sed rhoncus aliquet viverra.</p>

				</div -->
				
				<article class="articlecontent">
				  <h4>Formulário de contato</h3>
					<p>Telefone: (21)8290-1426<br />Escreva sua mensagem abaixo que logo entraremos em contato.</p>
					
					
					<form class="well">
						    
    					<label>Nome:</label>
    					<input type="text" class="span3" placeholder="Type something…">
   						 	<span class="help-inline"></span>
   						
   						 	
   						<label>Telefone:</label>
    					<input type="text" class="span3" placeholder="Type something…">
   						 	<span class="help-inline"></span>
   						
   						 	
   						<label>E-mail:</label>
    					<input type="text" class="span3" placeholder="Type something…">
   						 	<span class="help-inline"></span>
   						 	
   						<textarea class="">
   						
   						
   						</textarea>
   						<br />
   					
   						 	
    					<button type="submit" class="btn">Submit</button>
   					 </form>
					
					    <form class="form-horizontal">
    <fieldset>
    <legend>Legend text</legend>
    <div class="control-group">
    <label class="control-label" for="input01">Text input</label>
    <div class="controls">
    <input type="text" class="input-xlarge" id="input01">
    <p class="help-block">Supporting help text</p>
    </div>
    </div>
    </fieldset>
    </form>
					
					
					
				<form class="col col_7">
    	<fieldset>	
        	<legend>HTML5 Validation Form</legend>
            <div>
            	<label>Nome:</label>
                <input type="text" class="box_shadow">
            	
            </div>
            <div>
            	<label>E-mail</label>
                <input type="email" class="box_shadow" required="required">
            </div>
            <div>
            	<label>Telefone:</label>
                <input type="number" min="10" class="box_shadow" required="required">
            </div>
            <div>
            	<label>url</label>
                <textarea class="box_shadow">
            </div>
            
            <input type="submit" value="submit form →">
        </fieldset>
    </form>	
					
					
					
								
					
				</article>
				<br /><br />
				<!--article class="articlecontent">
				<img src="images/stripedfish.png" alt="fish" class="alignleft" />	<p>Pellentesque ut sapien arcu, egestas mollis massa. Fusce lectus leo, fringilla at aliquet sit amet, volutpat non erat. Aenean molestie nibh vitae turpis venenatis vel accumsan nunc tincidunt. Suspendisse id purus vel felis auctor mattis non ac erat. Pellentesque sodales venenatis condimentum. Aliquam sit amet nibh nisi, ut pulvinar est. Donec hendrerit fringilla ligula, ac rutrum nulla bibendum id. Cras sapien ligula, tincidunt eget euismod nec, ultricies eu augue. Nulla vitae velit sollicitudin magna mattis eleifend. Nam enim justo, vulputate vitae pretium ac, rutrum at turpis. Aenean id magna neque. Sed rhoncus aliquet viverra.</p>
				</article-->

			

				
				
				<!-- article class="articlecontent  style="border-top: 2px solid #369BD7; padding-bottom: 3px;">
					<h2><a href="#">Here's another article title</a></h2>
					<img src="images/pelican.png" alt="pelican" class="alignright" /><p>Vivamus vitae nulla dolor. Suspendisse eu lacinia justo. Vestibulum a felis ante, non aliquam leo. Aliquam eleifend, est viverra semper luctus, metus purus commodo elit, a elementum nisi lectus vel magna. Praesent faucibus leo sit amet arcu vehicula sed facilisis eros aliquet. Etiam sodales, enim sit amet mollis vestibulum, ipsum sapien accumsan lectus, eget ultricies arcu velit ut diam. Aenean fermentum luctus nulla, eu malesuada urna consequat in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque massa lacus, sodales id facilisis ac, lobortis sed arcu. </p>
				</article -->
				
				
		</div><!-- content .articlecontent -->
		
		<aside>
			<section>
				<h3>Categorias</h3>
				<ul>
					<li><a href="#">Advogados (2)</a></li>
					<li><a href="#">Academias (3)</a></li>
					<li><a href="#">Aguas (2)</a></li>
					<li><a href="#">Carros (2)</a></li>
					<li><a href="#">Veja mais (120) >></a></li>
				</ul>
			</section>
			
			<section>
				<h3>Publicidade</h3>
				    <a href="#" target="_blank"><img src="http://dl.dropbox.com/u/23632747/media/img/ANR_300x250.jpg" alt="publicidade" width="270" height="250"></a>
					<br /><br />
					<a href="http://www.senabaterias.com.br" target="_blank"><img src="http://dl.dropbox.com/u/23632747/media/img/Sena_Baterias_300x100.jpg" alt="publicidade" width="270" height="100"></a>
					<br /><br />
			</section>
			
			
			<section>
				<h3>Siga-nos</h3>
				<ul>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Google plus</a></li>
				</ul>
			</section>

			<section>
				<h3>Novidades</h3>
					<ul>
						<li><a href="#">Novidade-1</a></li>
						<li><a href="#">Novidade-2</a></li>
						
					</ul>
			</section>
			
			<section>
			
					<iframe src="http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/pages/Guia-Encontre-Aqui/252131104878945&amp;width=270&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=256" scrolling="no" frameborder="0" style="border: none; overflow:hidden; width:270px; height:256px;" allowtransparency="true">
					</iframe>
					
					<br /><br />
					
			</section>
			
		</aside><!-- aside coluna da direita -->

	<footer>
		<br />
		<p class="pull-right"><a href="#">voltar ao topo</a></p>
		<p>Copyright © 2012 Guia de Bairro Encontre Aqui. Todos os direitos reservados.<br> Hosted by <a href="http://gmrio.com">GMRio.com</a></footer>


<!-- Le javascript
    ================================================== -->
	
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://dl.dropbox.com/u/23632747/media/js/jquery.js"></script>
    <script src="../media/js/bootstrap-transition.js"></script>
    <script src="../media/js/bootstrap-alert.js"></script>
    <script src="http://dl.dropbox.com/u/23632747/media/js/bootstrap-modal.js"></script>
    <script src="../media/js/bootstrap-dropdown.js"></script>

    <script src="../media/js/bootstrap-scrollspy.js"></script>
    <script src="../media/js/bootstrap-tab.js"></script>
    <script src="../media/js/bootstrap-tooltip.js"></script>
    <script src="../media/js/bootstrap-popover.js"></script>
    <script src="../media/js/bootstrap-button.js"></script>
    <script src="../media/js/bootstrap-collapse.js"></script>

    <script src="http://dl.dropbox.com/u/23632747/media/js/bootstrap-carousel.js"></script>
    <script src="../media/js/bootstrap-typeahead.js"></script>

    <!--#http://www.designchemical.com/lab/jquery-mega-drop-down-menu-plugin/download/-->
    <script type='text/javascript' src='../media/js/jquery.hoverIntent.minified.js'></script>
    <script type='text/javascript' src='../media/js/jquery.dcmegamenu.1.3.3.js'></script>
    <!--script>
        $('#mega-menu-1').dcMegaMenu({
            rowItems: '3',
            speed: 'slow',
            effect: 'slide',
            fullWidth: false
        });
    </script-->

    <script>
        $('#myCarousel').carousel({
            interval: 6000
            
        });
    </script>
    <script>
        $('#myModal').modal();
        });
            
    </script> 
    

    <!--[if lt IE 7 ]>
      <script src="http://dl.dropbox.com/u/23632747/media/js/libs/dd_belatedpng.js"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->



<!--
Este layoute é originalmente foi criado por: http://freehtml5templates.com -->


</body>
</html>

