{% extends 'base.html' %}
{% block nav %}
<nav><!-- top nav -->
		<!-- div class="menu" -->
			<div class="subnav subnav-fixed">			
			<ul class="nav nav-pills">

				<li class=""><a href="#">Home</a></li>
				<li><a href="/catalogo/">Categorias</a>
				<li class="active"><a href="/noticias/">Notícias</a>
				<li><a href="http://www.youblisher.com/p/256986-Guia-Encontre-Aqui-Marco/">Guia Digital</a></li>
				<li><a href="{{ STATIC_URL }}site/file/proposta_comercial_guia_encontre_aqui.pdf" target="_blank">Como Anunciar</a></li>
				<li><a href="/fale-conosco/">Fale conosco</a></li>
				<!-- Adicionar form Busca -->
			</ul>
		</div>
	</nav><!-- end of top nav -->



{% endblock %}
{% block conteudo %}
{% endblock %}
{{ flatpage.content }}

<P>

Duis orci elit, feugiat vel tristique eget, feugiat id risus. Nunc a leo ut massa posuere faucibus ac et elit. Aenean porttitor ultricies sapien vitae lacinia. In hac habitasse platea dictumst. Morbi orci justo, cursus sed ultrices quis, condimentum sed ante. Maecenas dapibus egestas porta. Suspendisse a massa et arcu sagittis luctus. Nunc ullamcorper risus et lacus ultricies ac viverra eros adipiscing. Cras velit enim, laoreet ut accumsan eu, dignissim ut purus. Aenean mollis auctor dictum. Sed sagittis sodales venenatis.

</p>

